#include <windows.h>
#include "ModApi.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "Name", "Music Restorer"
            VALUE "Author", "Zed-z"
            VALUE "Description", "Restores missing music from the console version of the game. Requires providing your own JIceCave1.asf and JHub34.asf file."
            VALUE "Version", "1.0.0"
            VALUE "Hyperlink", "https://zed-z.github.io/c2-mod-loader/mods#music-restorer"
            VALUE "ApiVersion", API_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
