#include <windows.h>
#include "ModApi.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "Name", "Health Tweaks"
            VALUE "Author", "Zed-z"
            VALUE "Description", "Provides some quality of life health mechanics tweaks."
            VALUE "Version", "1.0.0"
            VALUE "Hyperlink", "https://github.com/Zed-z/c2-mod-loader"
            VALUE "ApiVersion", API_VERSION_STR
            VALUE "ConfigTypes", "Config/FullHealthOnRetry:bool=1,Config/FullHealthOnLevelEntry:bool=1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
