#include <windows.h>
#include "ModApi.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "Name", "Health Tweaks"
            VALUE "Author", "Zed-z"
            VALUE "Description", "Provides some quality of life health mechanics tweaks."
            VALUE "Version", "1.0.0"
            VALUE "Hyperlink", "https://zed-z.github.io/c2-mod-loader/mods#health-tweaks"
            VALUE "ApiVersion", API_VERSION_STR
            VALUE "ConfigTypes",
                "@Config[General Configuration|General mod settings];"
                "Config/FullHealthOnRetry[Full Health On Retry|Fully replenish health when retrying after game over]:bool=1;"
                "Config/FullHealthOnLevelEntry[Full Health On Level Entry|Fully replenish health when entering a level]:bool=1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
