#include <windows.h>
#include "resource.h"

// Version information
VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", AUTHOR_NAME
	        VALUE "FileDescription", LOADER_DESCRIPTION
            VALUE "FileVersion", LOADER_VERSION
            VALUE "ProductName", LOADER_NAME
            VALUE "ProductVersion", LOADER_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END

// Menu definition
MENU_BAR MENU
BEGIN
    POPUP "&Help"
    BEGIN
        MENUITEM "About...", ID_HELP_ABOUT
    END
END