#include <windows.h>
#include "Resource.h"
#include "ModApi.h"

// Version information
VS_VERSION_INFO VERSIONINFO
FILEVERSION     0,0,0,0
PRODUCTVERSION  0,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "Name", LOADER_NAME
            VALUE "Author", "Zed-z"
            VALUE "Description",
                "Provides mod loading functionality and a lightweight API for mods.\n"
                "\n"
                "Loads and manages .asi mod files and handles configuration and file overrides.\n"
                "\n"
                "Includes a custom UI overlay to take a look into the game's inner workings and interact with mods.\n"
                "\n"
                "Adds support for modern controllers and lets you uncapture your mouse from the game window.\n"
                "\n"
                "Additionally allows for cheat code activation with one click and saves them across play sessions.\n"
                "\n"
                "View the Licenses option to view the licenses of used third party assets.\n"
            VALUE "Version", LOADER_VERSION
            VALUE "Hyperlink", "https://zed-z.github.io/c2-mod-loader/"
            VALUE "ApiVersion", API_VERSION_STR
            VALUE "ConfigTypes",
                "@Config[General Configuration|Configure the general settings];"
                "Config/LoaderEnabled[Loader Enabled|Enable or disable mod loading]:bool=1;"
                "Config/SkipLauncher[Skip Launcher|Skip the launcher and start the game directly]:bool=0;"
                "Config/FreeMouse[Free Mouse|Allow mouse to move freely]:bool=1;"
                "Config/DisplayScale[Display Scale|Launcher and UI display scale (0 = automatic)]:float=0;"
                "_Config/DisabledMods[Disabled Mods|List of disabled mods]:string=;"
                "@RegistryBypass[Registry Bypass|Bypass registry calls and store game settings in the mod loader configuration file];"
                "RegistryBypass/Enabled[Enable Registry Bypass|Enable the registry bypass mechanism]:bool=1;"
                "RegistryBypass/ManagedValues[Registry Values|Key-value map for game settings, reset to clear settings]:string=;"
                "@GUI[GUI|Configure in-game GUI settings];"
                "GUI/GuiEnabled[GUI Enabled|Enable the GUI]:bool=1;"
                "GUI/ShowWindows[Show Windows|Show or hide windows]:bool=1;"
                "GUI/ShowLog[Show Log|Show the log window]:bool=0;"
                "GUI/ShowInputs[Show Inputs|Show input configuration]:bool=0;"
                "GUI/ShowObjectList[Show Object List|Show the object list]:bool=0;"
                "GUI/ShowCoords[Show Coordinates|Show coordinates]:bool=0;"
                "GUI/ShowLevelInfo[Show Level Info|Show level information]:bool=0;"
                "GUI/ShowLevelSelect[Show Level Select|Show level select]:bool=0;"
                "GUI/ShowSaveSlotList[Show Save Slot List|Show save slot list]:bool=0;"
                "GUI/ShowCameraStack[Show Camera Stack|Show camera stack]:bool=0;"
                "GUI/ShowMinimap[Show Minimap|Show the minimap]:bool=0;"
                "GUI/MinimapZoom[Minimap Zoom|Zoom level for the minimap]:float=1;"
                "GUI/MinimapAutoRotate[Minimap Auto Rotate|Rotate the minimap to match the camera]:bool=1;"
                "GUI/MinimapStyle[Minimap Style|Shape of the minimap]:enum[Circle|Square]=0;"
                "@Logging[Logging|Configure logging settings];"
                "Logging/Info[Info Logging|Show info logs]:bool=1;"
                "Logging/Debug[Debug Logging|Show debug logs]:bool=0;"
                "Logging/Warning[Warning Logging|Show warning logs]:bool=1;"
                "Logging/Error[Error Logging|Show error logs]:bool=1;"
                "@Toasts[Toast Notifications|Configure toast notification settings];"
                "Toasts/Info[Info Toasts|Enable info toasts]:bool=1;"
                "Toasts/Debug[Debug Toasts|Enable debug toasts]:bool=0;"
                "Toasts/Warning[Warning Toasts|Enable warning toasts]:bool=1;"
                "Toasts/Error[Error Toasts|Enable error toasts]:bool=1;"
                "@Cheats[Cheats|Enable or disable cheats];"
                "Cheats/DebugMenu[Debug Menu|Enable debug menu]:bool=0;"
                "Cheats/PositionBar[Position Bar|Enable position bar]:bool=0;"
                "Cheats/Invulnerability[Invulnerability|Enable invulnerability cheat]:bool=0;"
                "Cheats/BonusCrystals[Bonus Crystals|Enable bonus crystals cheat]:bool=0;"
                "Cheats/MusicSelect[Music Select|Enable music selection cheat]:bool=0;"
                "@Input[Modern Input|Enable and configure input enhancements];"
                "Input/Enabled[Enabled|Enable input enhancements]:bool=1;"
                "Input/Backend[Backend|The input backend to use]:enum[XInput|SDL3]=0;"
                "Input/DeviceIndex[Device Index|Index of the input device to use]:int=0;"
                "Input/StickDeadzone[Stick Deadzone|Deadzone for analog sticks]:int=25;"
                "Input/StickOuterDeadzone[Stick Outer Deadzone|Outer deadzone for analog sticks]:int=75;"
                "Input/TriggerDeadzone[Trigger Deadzone|Deadzone for triggers]:int=10;"
                "Input/TriggerOuterDeadzone[Trigger Outer|Outer deadzone for triggers]:int=90;"
                "Input/VibrationEnabled[Vibration Enabled|Enable vibration]:bool=1;"
                "Input/VibrationStrength[Vibration Strength|Strength of vibration effects]:int=100;"
                "Input/TypeSwitchMode[Type Switch Mode|Enable manual (caps lock) or automatic control type switching]:enum[None|Manual|Automatic]=2;"
                "Input/DpadMovement[Dpad Movement|Allow for player movement with the directional pad]:bool=1;"
                "Input/MidAirTurning[Mid Air Turning|Turn mid air in Type 2 controls with the side step buttons, akin to Croc 1]:bool=1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END

// Font
IDR_FONT_TITLE RCDATA "libs/scabber_font/Scabber.ttf"
IDR_FONT_TEXT RCDATA "libs/inter_font/Inter_18pt-Medium.ttf"
IDR_FONT_CODE RCDATA "libs/roboto_mono_font/RobotoMono-Medium.ttf"
IDR_LOGO RCDATA "../docs/logo.png"
IDR_ICON RCDATA "../docs/icon.png"
