#include <windows.h>
#include "ModApi.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "Name", "Improved Controls"
            VALUE "Author", "Zed-z"
            VALUE "Description",
                "Adds extra options to improve the quality of life for the game's controls.\n"
                "\n"
                "Type 1 Flip:\n"
                "Allows to do a 180 in Type 1 by double tapping the camera reset / 180 button.\n"
            VALUE "Version", "1.0.0"
            VALUE "Hyperlink", "https://zed-z.github.io/c2-mod-loader/mods#improved-controls"
            VALUE "ApiVersion", API_VERSION_STR
            VALUE "ConfigTypes",
                "@Config[General Configuration|General mod settings];"
                "Config/Type1Flip[Type 1 Flip|Allows to do a 180 in Type 1 by double tapping the camera reset / 180 button]:bool=1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
