#include <windows.h>
#include "ModApi.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "Name", "Camera+"
            VALUE "Author", "Zed-z"
            VALUE "Description",
                "Adds extra camera modes.\n"
                "\n"
                "Orbit Camera:\n"
                "A manually controllable orbiting camera. Use side step controls to tilt left/right and inventory controls to tilt up/down. Optionally turns as you move.\n"
                "\n"
                "Freecam:\n"
                "A camera detached from the player character that can pass through objects. Move around with movement controls. Use side step controls to tilt left/right and inventory controls to tilt up/down. Jump to raise and attack to lower the camera.\n"
                "\n"
                "Change camera modes with [side step left] + [side step right] + [camera center / 180]."
            VALUE "Version", "1.1.0"
            VALUE "Hyperlink", "https://github.com/Zed-z/c2-mod-loader"
            VALUE "ApiVersion", API_VERSION_STR
            VALUE "ConfigTypes",
                "@Config[General Configuration|General mod settings];"
                "Config/CameraMode[Camera Mode|The current camera mode]:enum[Normal|Orbit|Freecam]=0;"
                "@OrbitCamera[Orbit Camera|Settings regarding the orbit camera mode];"
                "OrbitCamera/InvertX[Invert X|Invert camera X axis movement]:bool=0;"
                "OrbitCamera/InvertY[Invert Y|Invert camera y axis movement]:bool=0;"
                "OrbitCamera/AutoTurn[Auto Turn|Automatically turn the camera when moving]:bool=1;"
                "OrbitCamera/AutoTurnStrength[Auto Turn Strength|The strength of camera turning when moving]:int=40;"
                "OrbitCamera/AutoTurnMinSpeed[Auto Turn Min Speed|Minimum player speed to automatically turn the camera]:int=100;"
                "OrbitCamera/TriggerZoom[Trigger Zoom|Use triggers to zoom the camera]:bool=1;"
                "_OrbitCamera/LevelBlocklist[Level Blocklist|Levels to disable orbit camera in]:string=2:5:1;"
                "@Freecam[Freecam|Settings regarding the freecam camera mode];"
                "Freecam/InvertX[Invert X|Invert camera X axis movement]:bool=0;Freecam/InvertY[Invert Y|Invert camera y axis movement]:bool=0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
